In [2]:
dataset_id = "faers_staging"
!bq --location=US mk --dataset {dataset_id}

BigQuery error in mk operation: Dataset 'studied-brand-266702:faers_staging'
already exists.

In [33]:
!bq --location=US load --autodetect --skip_leading_rows=1 \
--source_format=CSV {dataset_id}.Demographic 'gs://cs327e_project_data/drug_data/demo2018q4.csv' \
primaryid:INT64,caseid:INT64,caseversion:INT64,i_f_code:STRING,i_f_code_num:INT64,event_dt:INT64,\
event_dt_num:DATE,mfr_dt:INT64,mfr_dt_num:DATE,init_fda_dt:INT64,init_fda_dt_num:DATE,fda_dt:INT64,fda_dt_num:DATE,\
rept_cod:STRING,rept_cod_num:INT64,auth_num:STRING,mfr_num:STRING,mfr_sndr:STRING,lit_ref:STRING,age:INT64,\
age_cod:STRING,age_grp:STRING,age_grp_num:STRING,sex:STRING,e_sub:STRING,wt:FLOAT64,wt_cod:STRING,rept_dt:INT64,\
rept_dt_num:DATE,to_mfr:STRING,occp_cod:STRING,reporter_country:STRING,occr_country:STRING,occp_cod_num:INT64

Waiting on bqjob_r2116b0ce564886be_0000017194f1a0ce_1 ... (23s) Current status: DONE

In [5]:
!bq --location=US load --autodetect --skip_leading_rows=1 \
--source_format=CSV {dataset_id}.Drug 'gs://cs327e_project_data/drug_data/drug2018q4.csv'

Waiting on bqjob_r1ccae2bfffbfc1fb_0000017184b77537_1 ... (48s) Current status: DONE

In [6]:
!bq --location=US load --autodetect --skip_leading_rows=1 \
--source_format=CSV {dataset_id}.Reaction 'gs://cs327e_project_data/drug_data/reac2018q4.csv'

Waiting on bqjob_r76940ffa36ff7c58_0000017184b848fe_1 ... (6s) Current status: DONE

In [3]:
!bq --location=US load --autodetect --skip_leading_rows=1 \
--source_format=CSV {dataset_id}.Outcome 'gs://cs327e_project_data/drug_data/outc2018q4.csv'

Waiting on bqjob_r42197cf055eb7b64_000001719370322b_1 ... (2s) Current status: DONE

In [4]:
!bq --location=US load --autodetect --skip_leading_rows=1 \
--source_format=CSV {dataset_id}.Indication 'gs://cs327e_project_data/drug_data/indi2018q4.csv'

Waiting on bqjob_r25647538bd8c1779_000001719370f7de_1 ... (10s) Current status: DONE

### View sample records from each dataset

In [17]:
# Remove limit on number of columns shown
import pandas as pd
pd.set_option('display.max_columns', None)

In [31]:
%%bigquery
select * from faers_staging.Demographic
limit 5
# View sample records of demographic table

,primaryid,caseid,caseversion,i_f_code,i_f_code_num,event_dt,event_dt_num,mfr_dt,mfr_dt_num,init_fda_dt,init_fda_dt_num,fda_dt,fda_dt_num,rept_cod,rept_cod_num,auth_num,mfr_num,mfr_sndr,lit_ref,age,age_cod,age_grp,age_grp_num,sex,e_sub,wt,wt_cod,rept_dt,rept_dt_num,to_mfr,occp_cod,reporter_country,occr_country,occp_cod_num
0,150991581,15099158,1,I,72,NaN,None,20180622,2018-06-22,20180702,2018-07-02,20180702,2018-07-02,PER,806982,None,US-TEVA-2018-US-916382,TEVA,None,NaN,None,None,None,M,Y,None,None,20180702,2018-07-02,None,CN,US,US,6778
1,150956711,15095671,1,I,72,20180502.0,2018-05-02,20180503,2018-05-03,20180702,2018-07-02,20180702,2018-07-02,PER,806982,None,US-009507513-1805USA001987,MERCK,None,4.0,YR,None,None,M,Y,None,None,20180702,2018-07-02,None,OT,US,US,7984
2,150979111,15097911,1,I,72,2016.0,2016-07-02,20180214,2018-02-14,20180702,2018-07-02,20180702,2018-07-02,PER,806982,None,US-AVEDRO-AVE-2018-0100-AE,AVEDRO,None,37.0,YR,None,None,M,Y,None,None,20180629,2018-06-29,None,CN,US,US,6778
3,150986831,15098683,1,I,72,2018.0,2018-07-02,20180413,2018-04-13,20180702,2018-07-02,20180702,2018-07-02,PER,806982,None,US-AVEDRO-AVE-2018-0104-AE,AVEDRO,None,NaN,None,None,None,M,Y,None,None,20180629,2018-06-29,None,CN,US,US,6778
4,151025061,15102506,1,I,72,NaN,None,20180604,2018-06-04,20180703,2018-07-03,20180703,2018-07-03,PER,806982,None,US-SA-2018SA160587,SANOFI AVENTIS,None,NaN,None,A,A,None,Y,None,None,20180703,2018-07-03,None,CN,US,US,6778

In [35]:
%%bigquery
select distinct mfr_sndr from faers_staging.Demographic
order by mfr_sndr
# View unique drug manufacturers - "None" manufacturer record exists

                     mfr_sndr
0                        None
1                          3M
2                  AAA PHARMA
3                      ABBVIE
4      ACADIA PHARMACEUTICALS
..                        ...
467                   XIROMED
468                   XTTRIUM
469  YUNG SHIN PHARMACEUTICAL
470            ZO SKIN HEALTH
471               ZYDUS PHARM

[472 rows x 1 columns]

In [15]:
%%bigquery
select * from faers_staging.Drug
limit 5
# View sample records of drug table

,primaryid,caseid,drug_seq,role_cod,drugname,prod_ai,val_vbm,route,dose_vbm,cum_dose_chr,cum_dose_unit,dechal,rechal,lot_num,exp_dt,exp_dtstr,exp_dt_mult,nda_num,dose_amt,dose_unit,dose_form,dose_freq
0,40465654,4046565,3,C,ANTIHEMOPHILIC FACTOR,"ANTIHEMOPHILIC FACTOR, HUMAN RECOMBINANT",1,Intravenous (not otherwise specified),DRUG: BAXTERVREKOMBINAT.,NaN,None,None,None,None,None,None,0,None,2000.000,IU,None,/wk
1,58030615,5803061,4,C,TAXOTERE,DOCETAXEL,1,Intravenous drip,"35 MG/M2, QW",665.0,MG/M2,N,None,None,None,None,0,None,35.000,MG/M**2,SOLUTION FOR INFUSION,/wk
2,58459643,5845964,4,C,DIGOXIN.,DIGOXIN,1,Unknown,"0.125 MG, QD",NaN,None,D,None,None,None,None,0,None,0.125,MG,None,QD
3,58459643,5845964,5,C,DIGOXIN.,DIGOXIN,1,Unknown,"0.13 MG, UNK",NaN,None,D,None,None,None,None,0,None,0.130,MG,None,None
4,58459643,5845964,9,C,PREDNISOLONE.,PREDNISOLONE,1,Unknown,"7.5 MG, QD",NaN,None,D,None,None,None,None,0,None,7.500,MG,None,QD

In [16]:
%%bigquery
select * from faers_staging.Reaction
limit 5
# View sample records of reaction table

   primaryid   caseid                       pt             drug_rec_act
0   64242818  6424281                   Oedema                   Oedema
1   75498422  7549842   Hepatic encephalopathy   Hepatic encephalopathy
2   80119642  8011964  Dermatitis psoriasiform  Dermatitis psoriasiform
3   93112092  9311209       Pulmonary embolism       Pulmonary embolism
4   98287512  9828751           Conjunctivitis           Conjunctivitis

In [6]:
%%bigquery
select * from faers_staging.Outcome
limit 5
# View sample records of outcome table

   primaryid   caseid outc_cod
0   36703554  3670355       CA
1   57209488  5720948       CA
2   58888434  5888843       CA
3   62644734  6264473       CA
4   63078825  6307882       CA

In [12]:
%%bigquery
select * from faers_staging.Indication
limit 5
# View sample records of indication table

   primaryid   caseid  indi_drug_seq                       indi_pt
0   65007758  6500775             22                        Oedema
1   65007758  6500775             24                Sleep disorder
2   65007758  6500775             25                  Hypokalaemia
3   65007758  6500775             27  Gastrointestinal haemorrhage
4   65007758  6500775             29                        Eczema

In [37]:
%%bigquery
# Fix a record with no manufacturers to prevent "None" manufacturer record
UPDATE faers_staging.Demographic
SET mfr_sndr = 'FDA-CTU'
WHERE mfr_sndr is null

Empty DataFrame
Columns: []
Index: []

In [38]:
%%bigquery
select distinct mfr_sndr from faers_staging.Demographic
order by mfr_sndr
# None manufacturer no longer exists

                     mfr_sndr
0                          3M
1                  AAA PHARMA
2                      ABBVIE
3      ACADIA PHARMACEUTICALS
4                      ACCESS
..                        ...
466                   XIROMED
467                   XTTRIUM
468  YUNG SHIN PHARMACEUTICAL
469            ZO SKIN HEALTH
470               ZYDUS PHARM

[471 rows x 1 columns]